.container
{
max-width: 1500px;
padding: 0 130px;
}

.flx_itm {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{width:123px;
      height:123px;
}

.right_menu  a{
        text-align: left;
        font-family: "Open Sans";
        font-size:25px;
        line-height: 34px;
        letter-spacing: 0px;
        color: #222222;
        text-decoration: none;
        padding: 0 25px;
    }

    .right_menu .btn_css {
        margin-left:23px;
    }
        .right_menu .btn_css a{
        margin: 0 12px;
        border-radius: 24px;
        padding: 13px 20px;
        min-width:118px;
        height:45px;
        font-family: 'Montserrat', sans-serif;
        font-size:16px;
        line-height: 19px;
        background: transparent;
        text-decoration: none;
        box-shadow: 0px 0px 20px #00000033;
        }
        .right_menu .btn_css .btn_login
        {
            border: 2px solid #663399;
            color: #663399;
        }
            .right_menu .btn_css .btn_login:hover{
                background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
            color: white;
            border: 2px solid transparent;
            }
        
         .right_menu .btn_css .btn_get
        {
            background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
            color: white;
            border: 2px solid transparent;
        }
            .right_menu .btn_css .btn_get:hover{
                border: 2px solid #663399;
            color: #663399;
            background: transparent;
            }
        

    
