<div class="container flx_itm">
    <div class="logo">
        <img src="assets/logo.png" alt="logo">
    </div>
    <div class="right_menu">
        <nav class="flx_itm">
            <a href="/html/">Products</a> 
            <a href="/css/">Solutions</a> 
            <a href="/js/">Pricing</a> 
            <div class="btn_css">
                <a href="" class="btn_login">Login</a>
                <a href="" class="btn_get">Get Started</a>
            </div>
        </nav>
    </div>
</div>
<div class="container-fluid ">
    <div class="container">
<div>
    <div>We make it Super Simple</div>
    <div>
        <img src="assets/collect_img-video.png" alt="collect_img-video">
    </div>
</div>
<div>
    <div>
        <div>
            Eligibility Calculator
        </div>
        <div>
            <label for="Monthly income">Monthly Income</label>
            
        </div>
    </div>
</div>
    </div>
</div>